.container {
  display: grid;
}

.scoreList {
  padding: 0;
  list-style: none;
  display: grid;
  gap: var(--spacing-200);
}

.summary {
  font: var(--font-preset-5-bold);
  color: var(--color-navy-950);
}

.content {
  display: grid;
  gap: var(--spacing-300);
  width: 84%;
  margin: var(--spacing-300) auto;
}

@media (min-width: 48rem) {
  .container {
    grid-template-columns: 1fr 1fr;
    width: clamp(68.6rem, calc(62.886rem + 7.44vw), 73.6rem);
    margin: 4rem auto;
    background-color: var(--color-white);
    border-radius: 32px;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
  }

  .content {
    gap: var(--spacing-400);
    width: 78%;
    margin: 4.45rem auto;
  }

  .summary {
    font: var(--font-preset-4);
  }
}
