@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors - Monochrome */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Colors - Navy */
  --color-navy-950: #303b59;
  --color-navy-200: #cac9ff;
  --color-navy-50: #ecf2ff;

  /* Colors - Blue */
  --color-blue-800: #1125d6;
  --color-blue-50: #f3f4fd;

  /* Colors - Yellow */
  --color-yellow-400: #ffb21e;
  --color-yellow-50: #fffbf4;

  /* Colors - Red */
  --color-red-400: #ff5555;
  --color-red-50: #fff6f6;

  /* Colors - Green */
  --color-green-500: #00bb8f;
  --color-green-50: #f2fcf9;

  /* Gradients */
  --gradient-2: linear-gradient(180deg, #7755ff, #2f2ce9);
  --gradient-1: linear-gradient(180deg, #4d21c9, rgba(37, 33, 201, 0));

  /* Spacing (1rem = 10px) */
  --spacing-0: 0;
  --spacing-100: 0.8rem; /* 8px */
  --spacing-200: 1.6rem; /* 16px */
  --spacing-300: 2.4rem; /* 24px */
  --spacing-400: 3.2rem; /* 32px */
  --spacing-1000: 8rem; /* 80px */

  /* Typography - Font Presets (Shortcode) */
  /* Format: font-style font-variant font-weight font-size/line-height font-family */
  --font-preset-1: 800 7.2rem/1 "Hanken Grotesk", sans-serif;
  --font-preset-2: 800 5.6rem/1 "Hanken Grotesk", sans-serif;
  --font-preset-3: 700 3.2rem/1.3 "Hanken Grotesk", sans-serif;
  --font-preset-4: 700 2.4rem/1.3 "Hanken Grotesk", sans-serif;
  --font-preset-5-bold: 700 1.8rem/1.3 "Hanken Grotesk", sans-serif;
  --font-preset-5-medium: 500 1.8rem/1.3 "Hanken Grotesk", sans-serif;
  --font-preset-6-bold: 700 1.6rem/1.3 "Hanken Grotesk", sans-serif;
  --font-preset-6-medium: 500 1.6rem/1.3 "Hanken Grotesk", sans-serif;

  --tablet: 48rem;
  --desktop: 64rem;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font: var(--font-preset-6-medium);
  background: var(--color-white);
  min-height: 100vh;
  display: grid;
  align-items: center;
}

@media (min-width: 48rem) {
  body {
    background-color: var(--color-blue-50);
  }
}